*{
  margin: 0px;
  padding: 0px;
}
#contactInfo{
  display: inline-block;
  margin-top: 3%;
}
h1{
  text-decoration: underline;
}
input {
  display: block;
  margin: 3% 0% 3% 0%;
}
textarea{
  display: block;
  margin-top: 5%;
}
#rightSide{
  display: inline-block;
  vertical-align: top;
}
.contactCard{
  width: 300px;
  height: 200px;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  margin: 5%;
}
.frontCard{
  display: inline-block;
  padding: 5%;
  text-align: center;
}
.frontCard h2{
  margin: 3% 0% 0% 0%;
  font-size: 2em;
}
.frontCard p {
  margin: 3%;
}
.backCard{
  display: none;
  font-size: 1.4em;
}
